@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif !important;
}

i {
    font-family: "Font Awesome 5 Free" !important;
}

i {
    width: 24px;
    height: 20px;
}

img.card-img-top {
    width: 100%;
    max-height: 240px;
}

.fs-3 {
    font-size: larger;
}

.text-bold {
    font-weight: bold;
}

.link {
    cursor: pointer;
}

#videoPlayer {
    position: fixed;
    display: none;
    bottom: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    margin: auto;
    border: 2px solid var(--blue);
    z-index: 1000;
    background-color: white;
}

#closeVideoControl {
    z-index: 2000;
}